.p-panel .p-panel-header, .p-panel .p-panel-content {
  background-color: var(--surface-ground);
  border-color: var(--surface-border)
}

.p-tag {
  background-color: var(--surface-ground) !important;
}