:root {
  --surface-border: rgba(255, 255, 255, 0.1);
  --surface-border-highlighted: rgb(129, 140, 248);
  --surface-bg-color: rgb(30, 30, 30);

  --context-menu-bg-color: rgb(27, 27, 27);

  --text-unselectable: rgba(255, 255, 255, 0.85);
  --text-light: white;
  --selected-text-bg: rgba(255, 255, 255, 0.3);

  --primary-color: black;
  --secondary-interactive: rgba(129, 141, 248, 0.1);

  --surface-ground: rgba(255, 255, 255, 0.01);
  --surface-ground-light: rgba(255, 255, 255, 0.05);
  --highlight-bg: rgba(255, 255, 255, 0.85);

  --dark-bg: rgb(25, 25, 25);
}
