.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.blur-bg {
  background-color: rgba(var(--surface-ground), 0.8) !important;
  backdrop-filter: blur(3px);
  border-bottom: 0px !important;
  box-shadow: none !important;
  backdrop-filter: saturate(120%) blur(20px);
  -webkit-backdrop-filter: saturate(120%) blur(20px);
}
