.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; 
}

.blur-bg {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}