html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[contentEditable]:empty:before {
  content: attr(data-placeholder);
  color: gray;
  pointer-events: none;
}

[contentEditable]:focus {
  background-color: transparent;
  outline: none;
}

[contentEditable]::selection {
  background-color: var(--selected-text-bg);
}

.unselectable {
  user-select: none;
}

.all-border {
  border: solid 1px var(--surface-border);
}

.hover-grow:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}

.icon-btn {
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.icon-btn:active,
.icon-btn:hover {
  border-color: #22d3ee !important;
}

.editable {
  display: inline-block;
}

.editable:empty::before {
  content: attr(data-placeholder);
  color: gray;
  pointer-events: none;
  display: block;
}

.p-button:focus {
  outline: none;
  box-shadow: none;
}

.login-btn .p-button-label {
  margin-left: 1rem;
  margin-right: 1rem;
  flex: unset;
}
