html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[contentEditable]:empty:before {
  content: attr(data-placeholder);
  color: gray;
  pointer-events: none;
}

[contentEditable]:focus {
  background-color: transparent;
  outline: none;
}

[contentEditable]::selection {
  background-color: var(--selected-text-bg);
}

.unselectable {
  user-select: none;
}

.all-border {
  border: solid 1px var(--surface-border);
}

.hover-grow:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}

.icon-btn {
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.icon-btn:active,
.icon-btn:hover {
  border-color: var(--primary-500) !important;
}

.disabled.icon-btn {
  border-color: var(--surface-200) !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.editable {
  display: inline-block;
}

.editable:empty::before {
  content: attr(data-placeholder);
  color: gray;
  pointer-events: none;
  display: block;
}

.p-button:focus {
  outline: none;
  box-shadow: none;
}

.login-btn .p-button-label {
  margin-left: 1rem;
  margin-right: 1rem;
  flex: unset;
}

.w-full .p-icon-field {
  width: 100% !important;
}

/* prime react costumization */

.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content,
.p-dialog .p-dialog-footer {
  background-color: rgb(30, 30, 30) !important;
}
.p-dialog {
  border-color: rgb(53, 53, 53);
}

.blurred-overlay {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
}


.p-contextmenu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  background: unset;
}

.p-contextmenu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  background: rgba(255, 255, 255, 0.03);
}
