.PersonTxsComp .add-btn {
  font-size: 10px;
}

/* .PersonTxsComp:not(:hover) .add-btn {
  visibility: hidden;
} */

.p-panel .p-panel-content {
  padding: 0px;
}

.PersonTxsComp .deleted {
  position: relative; /* Ensures ::after is contained within this element */
}

.PersonTxsComp .deleted::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-400);
  transform: scale(1.1);
}
