
.TxTag {
  --active-bg-color: rgb(21,21,21);
  border-radius: 6px;

  & > .p-tag.p-component {
    display: inline-block;
  }
  
  &.active {
    background-color: var(--active-bg-color);
  }

  &.expanded {
    .extra-info {
      background-color: var(--active-bg-color);
      position: absolute;
        top: 125%;
        left: 0px;
      white-space: nowrap;   
      padding: 6px;
      border-radius: 6px;
      border: solid 1px var(--surface-border-highlighted);
      z-index: 1;
      padding: 0.5rem 0.4rem;
    }
  }

  .action-menu {
    position: absolute;
    top: -1.7rem;
    right: -.2rem;
    color: var(--text-color);
    font-size: 9px;
    padding: 2px;
    border: 1px solid var(--surface-border-highlighted);
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
  }

  .expand-btn {
    @extend .action-menu; 
    top: -1.4rem;
    left: .3rem;
    right: unset;
    padding: 2px 4px;
    background-color: var(--primary-color);
  }

  .remove-btn {
    @extend .action-menu; 
    top: -.4rem;
    right: -.35rem;
    background-color: var(--primary-color);
  }

  &.deleted::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px; /* Adjust thickness */
    background-color: var(--gray-400); /* Matches text color */
    transform: scale(1.1);
  }

  .delete-checkbox {
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
  }

  .delete-checkbox:hover {
    transform: scale(0.7) !important;
    transition: transform 0.2s ease-in-out;
  }
}
